@font-face {
    font-family: title;
    src: url(font_icons/KaushanScript-Regular.otf);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    margin-bottom: 0vh;
}
img{
    position: absolute;
    width: 100%;
    height: 100%;
}
body{
    min-height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    /*background: url(/home/hp/repos/form_ex/images/david_lang) no-repeat;*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
}
.title{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 35%;
    flex-wrap: wrap;
    flex: 1;
}
.logo{
    position: relative;
    display: inline;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 15%;
}
#icon{
    width: 50px;
    position: relative;
    top: 10px;
}
.credits{
    position: relative;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
    width: 100%;
    justify-content: center;
    margin-top: 100%;
    top: 50px;
}
h1{
    font-family: title;
    font-size: 35px;
}
.cred:visited{
    color: white;
}
.cred:hover{
    color: blue;
}
.form{
    display: flex;
    position: relative;
    left: 35%;
    flex-direction: column;
    width: 65%;
    height: 100;
    background-color: white;
}
.info{
    display: flex;
    position: relative;
    top: 50px;
    height: 35%;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 60px;
}
#form_head{
    font-size: 15px;
    position: relative;
    top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.show{
    display: inline;
    position: relative;
    top: 70px;
}
#check{
    position: relative;
    bottom: 18px;
}
input,label{
    display: flex;
}
input:focus{
    outline: none;
    border: 1px solid blue;
}
input{
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.2);
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}
.form_cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    box-shadow: 0px 4px 3px -2px rgba(85, 107, 47, 0.4);
    position: relative;
    top: 50px;
}
.button{
    position: relative;
    top: 70px;
}
button{
    box-sizing: border-box;
    display: block;
    width: 200px;
    font-weight: bold;
    padding: 4px 0 4px 0;
    border-radius: 5%;
    background-color: seagreen;
    color: antiquewhite;
}
button:hover{
    background-color: #1162dbb3;
}
#a:hover{
    color: #1162dbb3;
}
#a:visited{
    color: seagreen;
}
#passAlert{
    color: red;
    position: relative;
    bottom: 20px;
    font-size: 15px;
}